{% extends "templates/base.html" %}

{% block title %}
    FOOD
{% endblock %}

{% block header %}
<header class="food-header">
	<div><img src="/static/food-icon.png" style="max-height:50vh; margin-right:10px;" alt="image">Betty's favorite food
	</div>
</header>
    
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid bg-3 ">
    	<div class="row">
    		<div class="col-sm-6 bg-3">
    			<img src="/static/Food-1.jpg" class="img-responsive" style="width:100%" alt="Image"><br>
    		</div>
    		<div class="col-sm-6 bg-3 text-center icecream-text ">
    			<h1 class="food-title"> Lick honest ice cream</h1>
    			<h4>Honesty is the Best Policy, Even When it Comes to Ice Cream</h4>
    			<p>To us, honest ice creams simply means we use only pure, wholesome ingredients in our artisanal ice creams. What doesn’t go into our ice creams is just as important as what does. We never use artificial colors or flavors, high fructose corn syrup or preservatives, ever! Ice cream shouldn’t just taste good — we believe it should also be good.</p>
    			<a href="http://ilikelick.com/" type="button" class="icecream-button">
                    Lick it!
                </a>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-sm-6 bg-3">
    			<img src="/static/Food_2.jpg" class="img-responsive" style="width:100%" alt="Image"><br>
    		</div>
    		<div class="col-sm-6 bg-3 text-center icecream-text">
    			<h1 class="food-title"> Capogiro Gelato</h1>
    			<h4>More than 25 delectable choices of gelato and sorbet will make it impossible to resist</h4>
    			<p>Capogiro (Italian for “dizzy” or “giddy”) was conceived during the Reitano’s vacation to John’s native Italy. Inspired by the Italian pleasure, Stephanie and John opened a gelateria back home in Philadelphia using the artisan method, the highest level of gelato making. Gelato is crafted from scratch in small batches each morning using local ingredients.</p>
    			<a href="http://www.capogirogelato.com/" type="button" class="icecream-button">
                    Lick it!
                </a>
    		</div>
    	</div>


    	<div class="row">
    		<div class="col-sm-6 bg-3">
    			<img src="/static/Food_3.jpg" class="img-responsive" style="width:100%" alt="Image"><br>
    		</div>
    		<div class="col-sm-6 bg-3 text-center icecream-text">
    			<h1 class="food-title"> Yukimi Daifuku</h1>
    			<h4> Season limited best selling ice cream!</h4>
    			<p>Created by Lotte in 1981, Yukimi Daifuku is revolutionary ice cream because of its Japanese-Western hybrid nature. Outer soft skin comes from traditional Daifuku mochi(photo below), and filling ice cream comes from the west. When you put Daifuku in the freezer, its skin is frozen. And you miss soft texture of Daifuku. But the amazing food technology of Lotte keep its skin soft as ice cream !</p>
    			<a href="http://www.cooksinfo.com/yukimi-daifuku" type="button" class="icecream-button">
                    Lick it!
                </a>
    		</div>
    	</div>

    </div>

</main>

{% endblock %}